<!doctype html>
<html class="no-js" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ========== VIEWPORT META ========== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- ========== PAGE TITLE ========== -->
    <title>Node JS</title>

    <!-- ========== META TAGS ========== -->
    <meta name="description" content="Salt - Responsive Multipurpose HTML5 Template ">
    <meta name="keywords" content="business, responsive, multi-purpose">
    <meta name="author" content="ThemesEase">

    <!-- ========== FAVICON & APPLE ICONS ========== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- ========== MINIFIED VENDOR CSS ========== -->
    <link rel="stylesheet" href="../styles/vendor.css">

    <!-- ========== MAIN CSS ========== -->
    <link rel="stylesheet" href="../styles/main.css">

    <script src="../scripts/vendor/modernizr.js"></script>
</head>

<body class="header-shadow light-header">

    <!-- ========== LOADER ========== -->
   
    <!-- ========== HEADER ========== -->
    <div class="header menu-style-1">

        <!-- ========== TOP BAR ========== -->
        <div class="top-menu">
            <div class="container-fluid">
                <div class="left-div pull-left">
                    CURSO DE NODE JS 
                </div>
                <div class="right-div pull-right">
                    <a href="#"> 49 9-9120-9970</a>
                    <a href="#">patrick@microvision.com.br</a>
                </div>
            </div> <!-- end container-fluid -->
        </div> <!-- end top-menu -->

        <div class="container-fluid">

            <!-- ========== MENU ========== -->
            <nav class="menu">                
                <!-- ========== MAIN MENU ========== -->
                <ul class="main-menu">
                    <li class="menu-item">
                        <a href="http://localhost:3000/"><i class="menu-icon fa fa-home"></i> Home</a>
                        <!-- Sub Menu -->
                        </li>
                        <li class="menu-item">
                        <a href="http://localhost:3000/agenda/form"><i class="menu-icon fa fa-home"></i>Cadastrar Agenda</a>
                        <!-- Sub Menu -->
                        </li>
                        <li class="menu-item">
                        <a href="http://localhost:3000/agenda"><i class="menu-icon fa fa-home"></i> Listar Agenda</a>
                        <!-- Sub Menu -->
                        </li>                        
                                                   
                            </li>
                        </ul> <!-- end mega-submenu -->
                    </li> <!-- end menu-item -->
                    </div>
             </ul></nav>
             </div>
<div><br><br><br></div>
            <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== SECTION HEADER ========== -->
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Cadastro Agenda</h3>                        
                    </div> <!-- end section-header -->

                    <div class="col-md-6 col-md-offset-3">
                        <form class="" id="form" method="post" action="/agenda">
                            <div class="form-group">
                                <label for="nome">Nome Completo</label>
                                <input type="text" name="nome" class="form-control input-style-2" placeholder="informe o nome" required=""/>
                            </div>
                            <div class="form-group">
                                <label for="email">Emaill</label>
                             <input type="email" name="email" class="form-control input-style-2"placeholder="informe o e-mail" required=""/>
                            </div>
                            <div class="form-group">
                                <label for="Celular">Celular</label>
                              <input type="text" name="celular" class="form-control input-style-2" placeholder="informe o Celular" required=""/>
                            </div>
                            <div class="form-group">
                                <label for="cpf">CPF</label>
                               <input type="text" name="cpf" class="form-control input-style-2" placeholder="informe o cpf" required=""/>
                            </div>                          

                            <button type="submit" class="st-btn primary-btn hvr-back hvr-sweep-to-right pull-right">Gravar</button>
                        </form>
                    </div> <!-- end col-md-6 -->
                </div> <!-- end row -->
            </div> <!-- end container -->

        </section>

    <script src="../scripts/vendor.js"></script>
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/main.js"></script>    

</body>

</html>
